{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block body_class %}standard-page{% endblock %}

{% block content %}

<div class="container justify-contents-center">
    <div class="row">
        {% for blog in blogs %}
        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card blog-card blog-text h-100">
                {% if blog.blog_image %}
                <img src="{{ blog.blog_image.url }}" class="card-img-top img-fluid blog-img" alt="{{ blog.title }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ blog.title|safe}}</h5>
                    <p class="card-text flex-grow-1 text-justify">{{ blog.summary|safe }}</p>
                    <a href="{% url 'portfolio:blog_detail' slug=blog.slug %}" class="btn btn-cv mt-auto">View More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>

  {% endblock %}