{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}

{% block body_class %}standard-page{% endblock %}

{% block content %}

<div class="container justify-contents-cente mt-4 mb-0">
    <div class="row g-4">

        <!-- PAGE 1 -->
        <div class="col-12 col-md-6 cv-section">
            <div class="card cv-card">
                <div class="cv-card-body d-flex flex-column">
                    {% if cv.cv_image_page_1 %}
                        <img src="{{ cv.cv_image_page_1.url }}" 
                             class="card-img-top img-fluid cv-img" 
                             alt="cv page 1">
                    {% endif %}
                    <a href="{% url 'portfolio:download_cv_pdf' %}" 
                       class="btn btn-cv mt-2">Download.pdf</a>
                </div>
            </div>
        </div>
        
        <!-- PAGE 2 -->
        <div class="col-12 col-md-6 cv-section">
            <div class="card cv-card">
                <div class="cv-card-body d-flex flex-column">
                    {% if cv.cv_image_page_2 %}
                        <img src="{{ cv.cv_image_page_2.url }}" 
                             class="card-img-top img-fluid cv-img" 
                             alt="cv page 2">
                    {% endif %}
                    <a href="{% url 'portfolio:download_cv_doc' %}" 
                       class="btn btn-cv mt-2">Download.doc</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}